/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

/* Headings */
h1 {
    color: #333;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

/* Forms */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.form-group label {
    font-weight: 500;
    color: #555;
}

.form-control {
    border-color: #ccc;
}

.form-control:focus {
    border-color: #6c757d;
    box-shadow: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

/* Modals */
.modal-header {
    background-color: #007bff;
    color: #fff;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Message */
#message {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Responsive Styles */
@media (max-width: 576px) {
    form {
        padding: 1rem;
    }
}